body{

background: url(the-office1.jpg);
margin: 0 auto 0 auto;
height: 1000px;
width: 1000px;
text-align: center;

}

h1{
  font-size: 85px;
  font-style: inherit;
  text-align: center;
  color: red;
  text-shadow: 1px 1px 1px #fff;

}

#container{
  width: 1000px;
  height: 1000px;
  margin: 0 auto 0 auto;
  background-color: black;
  text-align: center;

}

.boxes{
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 10px;
  border: .05px solid black;
  display: inline-block;
  border-width: 3px;
  margin: 0 auto 0 auto;
}

.boxes.X{
background-repeat: no-repeat;
background: url(dwight2.png);


}

.boxes.O{
background-repeat: no-repeat;
background: url(Jim3.png);

}




